.wpbody-content {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	height: 100%;
	width: 100%;
}

#tallyBannerContainer {
	background-image: url('images/banner_rails.png');
	background-repeat: repeat-x;
	background-size: 15% 100%;
	display: block;
	height: 15%;
	width: auto;
}

img#tallyBannerImage {
	display: block;
	margin: auto;
	height: 100%;
	width: auto;
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	#tallyBannerContainer {
		background-size: 12% 100%;
		height: 12%;
	}
}

select.service_body_select {
	width: 40%;
	max-width: 40%;
}

select.theme_select {
	width: 20%;
	max-width: 20%;
}

.extra_meetings_label label {
	vertical-align: top;
}
.extra_meetings_label {
	margin-top: 10px;
}
.exactCenter { width:800px; height:800px; position: fixed; top: 50%; left: 50%; margin-top: -100px; margin-left: -100px; }
#extra_meetings * {
	font-family: "Open Sans",sans-serif;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	width: 100% !important;
}
.chosen-container-multi * {
	font-family: "Open Sans",sans-serif;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	font-family: "Open Sans",sans-serif;
}
.tooltipster-noir
{
	background: #F5F5F5;
	border: 3px solid #2c2c2c;
	border-radius: 0px;
	color: #2c2c2c;
}
.tooltipster-noir .tooltipster-content
{
	/* font-family: 'Georgia', serif; */
	font-size: 13px;
	line-height: 16px;
	padding: 0px 20px;
}
.tooltipster-default
{
	background: #888888;
	border: 2px solid #111;
	border-radius: 5px;
	color: #fff;
}
.tooltipster-default .tooltipster-content
{
	/* font-family: Arial, sans-serif; */
	font-size: 13px;
	line-height: 16px;
	overflow: hidden;
	padding: 8px 8px;
}
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border
{
}
.tooltipster-icon {
	cursor: help;
	margin-left: 10px;
	background: url("images/help-image2.png") no-repeat;
	color: rgba(0, 0, 0, 0);
	padding-right: 5px;
}
.tooltipster-base
{
	font-size: 0;
	left: 0;
	line-height: 0;
	overflow: visible;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: auto;
	z-index: 9999999;
}
.tooltipster-base .tooltipster-content
{
	overflow: hidden;
}
.tooltipster-arrow
{
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border
{
	display: block;
	height: 0;
	position: absolute;
	width: 0;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span
{
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border
{
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -7px;
}
.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span
{
	border-bottom: 8px solid;
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border
{
	border-bottom: 9px solid;
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border
{
	left: 0;
	margin: 0 auto;
	right: 0;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span
{
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border
{
	left: 5px;
}
.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span
{
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border
{
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border
{
	border-bottom: 8px solid transparent !important;
	border-left: 8px solid;
	border-top: 8px solid transparent !important;
	margin-top: -7px;
	right: -7px;
	top: 50%;
}
.tooltipster-arrow-left .tooltipster-arrow-border
{
	border-bottom: 9px solid transparent !important;
	border-left: 9px solid;
	border-top: 9px solid transparent !important;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border
{
	border-bottom: 8px solid transparent !important;
	border-right: 8px solid;
	border-top: 8px solid transparent !important;
	left: -7px;
	margin-top: -7px;
	top: 50%;
}
.tooltipster-arrow-right .tooltipster-arrow-border
{
	border-bottom: 9px solid transparent !important;
	border-right: 9px solid;
	border-top: 9px solid transparent !important;
	margin-top: -8px;
}
.tooltipster-fade
{
	moz-transition-property: opacity;
	ms-transition-property: opacity;
	opacity: 0;
	o-transition-property: opacity;
	transition-property: opacity;
	webkit-transition-property: opacity;
}
.tooltipster-fade-show
{
	opacity: 1;
}
.tooltipster-grow
{
	moz-transform: scale(0,0);
	moz-transition-property: -moz-transform;
	ms-transform: scale(0,0);
	ms-transition-property: -ms-transform;
	o-transform: scale(0,0);
	o-transition-property: -o-transform;
	transform: scale(0,0);
	transition-property: transform;
	webkit-backface-visibility: hidden;
	webkit-transform: scale(0,0);
	webkit-transition-property: -webkit-transform;
}
.tooltipster-grow-show
{
	moz-transform: scale(1,1);
	moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	ms-transform: scale(1,1);
	ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	o-transform: scale(1,1);
	o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transform: scale(1,1);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	webkit-transform: scale(1,1);
	webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-swing
{
	moz-transform: rotateZ(4deg);
	moz-transition-property: -moz-transform;
	ms-transform: rotateZ(4deg);
	ms-transition-property: -ms-transform;
	opacity: 0;
	o-transform: rotateZ(4deg);
	o-transition-property: -o-transform;
	transform: rotateZ(4deg);
	transition-property: transform;
	webkit-transform: rotateZ(4deg);
	webkit-transition-property: -webkit-transform, opacity;
}
.tooltipster-swing-show
{
	moz-transform: rotateZ(0deg);
	moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	ms-transform: rotateZ(0deg);
	ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	opacity: 1;
	o-transform: rotateZ(0deg);
	o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	transform: rotateZ(0deg);
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	webkit-transform: rotateZ(0deg);
	webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}
.tooltipster-fall
{
	moz-transition-property: top;
	moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	ms-transition-property: top;
	ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	o-transition-property: top;
	o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	top: 0;
	transition-property: top;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	webkit-transition-property: top;
	webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-fall-show
{
}
.tooltipster-fall.tooltipster-dying
{
	moz-transition-property: all;
	ms-transition-property: all;
	opacity: 0;
	o-transition-property: all;
	top: 0px !important;
	transition-property: all;
	webkit-transition-property: all;
}
.tooltipster-slide
{
	left: -40px;
	moz-transition-property: left;
	moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	ms-transition-property: left;
	ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	o-transition-property: left;
	o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-property: left;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	webkit-transition-property: left;
	webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show
{
}
.tooltipster-slide.tooltipster-dying
{
	left: 0px !important;
	moz-transition-property: all;
	ms-transition-property: all;
	opacity: 0;
	o-transition-property: all;
	transition-property: all;
	webkit-transition-property: all;
}
.tooltipster-content-changing
{
	moz-transform: scale(1.1, 1.1);
	ms-transform: scale(1.1, 1.1);
	opacity: 0.5;
	o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	webkit-transform: scale(1.1, 1.1);
}

div#updated
{
	border-left: #46b450 solid 4px;
	margin: 10px 0px 10px;
	background: #fff;
	font-size: 14px;
	box-shadow: 0 1px 01px rgba(0,0,0,.04);
	padding: 1px 12px;
	display: none;
}

.configuration-toc {
	margin-left: 30px;
	list-style-type: square;
}

