.wpbody-content {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	height: 100%;
	width: 100%;
}

#tallyBannerContainer {
	background-image: url('images/banner_rails.png');
	background-repeat: repeat-x;
	background-size: 15% 100%;
	display: block;
	height: 15%;
	width: auto;
}

img#tallyBannerImage {
	display: block;
	margin: auto;
	height: 100%;
	width: auto;
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	#tallyBannerContainer {
		background-size: 12% 100%;
		height: 12%;
	}
}

select.service_body_select {
	width: 40%;
	max-width: 40%;
}

select.theme_select {
	width: 20%;
	max-width: 20%;
}

.extra_meetings_label label {
	vertical-align: top;
}
.extra_meetings_label {
	margin-top: 10px;
}
.exactCenter { width:800px; height:800px; position: fixed; top: 50%; left: 50%; margin-top: -100px; margin-left: -100px; }
#extra_meetings * {
	font-family: "Open Sans",sans-serif;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	width: 100% !important;
}
.chosen-container-multi * {
	font-family: "Open Sans",sans-serif;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	font-family: "Open Sans",sans-serif;
}
