language: php
php:
- '7.1'
env:
  global:
  - S3_BUCKET=archives.bmlt.app
jobs:
  include:
  - stage: croutonjs zip file
    env:
    - BUILD_DIR=build
    - DIST_DIR_S3=dist_croutonjs/s3
    - DIST_DIR_GITHUB=dist_croutonjs/github
    - GITHUB_RELEASE_FILENAME=croutonjs.zip
    - ZIP_FILENAME=croutonjs-build${TRAVIS_BUILD_NUMBER}-${TRAVIS_COMMIT}.zip
    - S3_KEY=croutonjs
    script:
    - DISABLE_NOTIFIER=true make deploy
    - cd croutonjs/dist && npm version ${TRAVIS_TAG} && zip -r ${ZIP_FILENAME} *
    - mkdir -p $BUILD_DIR && mv $ZIP_FILENAME $BUILD_DIR/
    before_deploy:
    - mkdir -p $DIST_DIR_S3 && cp $BUILD_DIR/$ZIP_FILENAME $DIST_DIR_S3/$ZIP_FILENAME
    - mkdir -p $DIST_DIR_GITHUB && cp $BUILD_DIR/$ZIP_FILENAME $DIST_DIR_GITHUB/$GITHUB_RELEASE_FILENAME
    deploy:
    - provider: npm
      email: "$NPM_EMAIL"
      tag: latest
      api_key:
        secure: iz+qbhYujSLi3vDrXw7T1o+4oteMRbecCib41hE6kGprEDZ8cB4bhGyNEukmb4nFTQmyRG0B6Z1L0dabuhEr6qFFPKetcyRI5NvZB9aM3wPrzG2tSPkZueueJsz3Ruiz+LcmHYuOamNldED9rWjw8sWux9tOFUaSChVr3sqHmPlz18WbQTzjL0Eaobcc8hQOYGr9ADlKZobXBHUDCnCmcs8gxh50QmNhDNm+2ddeocMwbfgP5Dvdi4IcOATQ2rhjzYWxtvpcfAhoTLQ7+G4Vgq4W2ikEqpHvyNnX3aSgsFc3bSwqfCdv0Um4+DSosdjIFl3NUPkf1Lb7gA2jtTMOKf1v+PtuJTVK+xGfNWfNEx2BHkkg6u4GN8dMDsjZ5YGVNND073ErCiXP8afNKd3Us3SCCegQ0PmhM3Brw9o0ri32AaBYAPawau6rQNGU8NUrhehRrrbSVelix6NOjpn/957AOqlxk7iMwOifhkwK3+hwnGvshch00aVowMVDKMMu+tIxUgXQvBcCSW76t8hqyqgtbJo2YBxuDEzgdZKLHOP5HChQguTm2b006HZPELjTzdnJQV9vw2C4F4pmj4xzj0IRI8CdD9paVICLKxf0QHOYbSa3iH25+dQkiID/F+m8Eln2eNSp1rae1pafY3+bkc5PXCxTSucoCDvWm91AOUk=
      on:
        tags: true
        branch: master
        repo: bmlt-enabled/crouton
      skip_cleanup: 'true'
    - provider: s3
      access_key_id: AKIA3EWZC3OHKYCL5SIY
      secret_access_key:
        secure: Oih/yNSOVzX87zM0bceWPxSHwBLdcNRJBz1rF/hwq1hOUYlQV8IcKnjJO7oDoitqTo6nY9BuT/ya7V6fTVNPbj/5laOj3sfR3rXQocVAYyKBkv+1gb9ca52sB9ywqO4u6EtmyZqApZzA9ofDfqTiP+n6YsAPN1bBB482WgY0yrdPY3ognZbG7yJ1ON4tmkAxkdryCmvkEfR1s6E1zUWCEJwSu8YU+mU28J4NB9FCzJWx9SB7cFh9tC3iJEtCSpDagtNUfjgVhAr2lJ3DNZEm/1U6PRYnWQKtBn1EcAhe/Yl5ZeSoKeMcivIIyvIU19uyrE+74guBsq8BPJUI5tVysaMIKQP/BH2vyUy431rcT9NY9pr92bcirSCsgQACNzf10TZ0jBIDfRYnio0r+6F3KVa4isIJO46ttiZN/F8AO92nHbZCn3x6zX+ikvyOwRkUr68ANn4tO8iv93urKX4tTyk4XPmWZ1SJpeeH9J9TXPYsXg5llouJWJ755IcXlTMVaCmKSFWtINojbpvq4jVit4lmVjrQidUukgo2z5wOV1jyy0d3hG/wEiz4/9yUgXhEeugHNhFBw6N9WQdJUVptXLpKB03VB5Gy03AzRlU9VUbUA+dO3VjBqb9x4PCTsddWUtRLYnbMviwIFMbDkocxYcrqglVBT0hw6Zu8HIus3M4=
      bucket: "$S3_BUCKET"
      local_dir: "$DIST_DIR_S3"
      upload-dir: "$S3_KEY"
      skip_cleanup: true
      on:
        all_branches: true
    - provider: releases
      api_key:
        secure: tJsVlhVaYjlA7frFEFIGN+DjUxSo1y8MIq6DX/NmIq8rB5r+b6eIfosDi58ON3cwqfLRk1Mw3uVqozGlWhw73NErUeGzkvof3IL3/sSe258o5Jq6RDdZXuhUddFhTnoJvQvBYcyxinl729QmQCzaPObVy254bmpXrJvbLuAU6ns/6dvF3RBDMiVzDSy2+IYDmTFwGdUo1/FyW23nmFMEs26aLivZy/UnLZ5D7qOevvRRPUxHKZFsMPXxI5RI11XQkA7dCeLKQawuBsiwg+eyvzlS1ZYw+js53fCv758jPYcFpg/2/b6jfMql0tPSIYxO4mnyW5FOpMhmqT5XWmgLF4NelF81av2g6Rif2I+O8UB7wHnv0gEDIbhTzp7RK7fcjxjGfME89EKfjVohuD2FMfNukjgWIg0TUfQ4zsPYbcbT3yIppDi8CkcGmd3VuTC8qUac7FLdd6ZO7+9yohWfiCqHwzzzyh94In5QXH0rNSPV0eOkpvlSGY+S8T2qwcMaapGBWCmsGHZfjxrpJTskNTmm7eRkxNp6aCBw1S0nDY1/JMhGixu0Gk0yomn7d7QkTdxksfSRkTnhiLyKVfeYwu4ybi1DAUXG+sHvLofKUv6ZKP10t3REr0GIjnv/xv0B80op5yv/YP8QZYR7UC5EJdY303sWi4Am1s5DwM940hs=
      file: "$DIST_DIR_GITHUB/$GITHUB_RELEASE_FILENAME"
      skip_cleanup: true
      name: "$TRAVIS_TAG"
      on:
        tags: true
        condition: "$TRAVIS_TAG != *beta*"
    - provider: releases
      api_key:
        secure: tJsVlhVaYjlA7frFEFIGN+DjUxSo1y8MIq6DX/NmIq8rB5r+b6eIfosDi58ON3cwqfLRk1Mw3uVqozGlWhw73NErUeGzkvof3IL3/sSe258o5Jq6RDdZXuhUddFhTnoJvQvBYcyxinl729QmQCzaPObVy254bmpXrJvbLuAU6ns/6dvF3RBDMiVzDSy2+IYDmTFwGdUo1/FyW23nmFMEs26aLivZy/UnLZ5D7qOevvRRPUxHKZFsMPXxI5RI11XQkA7dCeLKQawuBsiwg+eyvzlS1ZYw+js53fCv758jPYcFpg/2/b6jfMql0tPSIYxO4mnyW5FOpMhmqT5XWmgLF4NelF81av2g6Rif2I+O8UB7wHnv0gEDIbhTzp7RK7fcjxjGfME89EKfjVohuD2FMfNukjgWIg0TUfQ4zsPYbcbT3yIppDi8CkcGmd3VuTC8qUac7FLdd6ZO7+9yohWfiCqHwzzzyh94In5QXH0rNSPV0eOkpvlSGY+S8T2qwcMaapGBWCmsGHZfjxrpJTskNTmm7eRkxNp6aCBw1S0nDY1/JMhGixu0Gk0yomn7d7QkTdxksfSRkTnhiLyKVfeYwu4ybi1DAUXG+sHvLofKUv6ZKP10t3REr0GIjnv/xv0B80op5yv/YP8QZYR7UC5EJdY303sWi4Am1s5DwM940hs=
      file: "$DIST_DIR_GITHUB/$GITHUB_RELEASE_FILENAME"
      skip_cleanup: true
      name: "$TRAVIS_TAG"
      prerelease: true
      on:
        tags: true
        condition: $TRAVIS_TAG =~ "beta"
  - stage: wordpress-plugin zip file
    env:
    - BUILD_DIR=build
    - DIST_DIR_S3=dist/s3
    - DIST_DIR_GITHUB=dist/github
    - GITHUB_RELEASE_FILENAME=crouton.zip
    - PLUGIN="crouton"
    - MAINFILE="crouton.php"
    - ZIP_FILENAME=crouton-build${TRAVIS_BUILD_NUMBER}-${TRAVIS_COMMIT}.zip
    - S3_KEY=crouton
    script:
    - find ./ -type d | xargs chmod 755
    - find ./ -name '*.php' | xargs chmod 644
    - git archive --format=zip --output=${ZIP_FILENAME} ${TRAVIS_COMMIT}
    - DISABLE_NOTIFIER=true make deploy
    - zip -r ${ZIP_FILENAME} croutonjs/dist/*
    - mkdir -p $BUILD_DIR && mv $ZIP_FILENAME $BUILD_DIR/
    before_deploy:
    - mkdir -p $DIST_DIR_S3 && cp $BUILD_DIR/$ZIP_FILENAME $DIST_DIR_S3/$ZIP_FILENAME
    - mkdir -p $DIST_DIR_GITHUB && cp $BUILD_DIR/$ZIP_FILENAME $DIST_DIR_GITHUB/$GITHUB_RELEASE_FILENAME
    - curl -LO https://raw.githubusercontent.com/bmlt-enabled/bmlt-wordpress-deploy/master/deploy-wordpress.sh
    - chmod +x deploy-wordpress.sh
    deploy:
    - provider: s3
      access_key_id: AKIA3EWZC3OHKYCL5SIY
      secret_access_key:
        secure: Oih/yNSOVzX87zM0bceWPxSHwBLdcNRJBz1rF/hwq1hOUYlQV8IcKnjJO7oDoitqTo6nY9BuT/ya7V6fTVNPbj/5laOj3sfR3rXQocVAYyKBkv+1gb9ca52sB9ywqO4u6EtmyZqApZzA9ofDfqTiP+n6YsAPN1bBB482WgY0yrdPY3ognZbG7yJ1ON4tmkAxkdryCmvkEfR1s6E1zUWCEJwSu8YU+mU28J4NB9FCzJWx9SB7cFh9tC3iJEtCSpDagtNUfjgVhAr2lJ3DNZEm/1U6PRYnWQKtBn1EcAhe/Yl5ZeSoKeMcivIIyvIU19uyrE+74guBsq8BPJUI5tVysaMIKQP/BH2vyUy431rcT9NY9pr92bcirSCsgQACNzf10TZ0jBIDfRYnio0r+6F3KVa4isIJO46ttiZN/F8AO92nHbZCn3x6zX+ikvyOwRkUr68ANn4tO8iv93urKX4tTyk4XPmWZ1SJpeeH9J9TXPYsXg5llouJWJ755IcXlTMVaCmKSFWtINojbpvq4jVit4lmVjrQidUukgo2z5wOV1jyy0d3hG/wEiz4/9yUgXhEeugHNhFBw6N9WQdJUVptXLpKB03VB5Gy03AzRlU9VUbUA+dO3VjBqb9x4PCTsddWUtRLYnbMviwIFMbDkocxYcrqglVBT0hw6Zu8HIus3M4=
      bucket: "$S3_BUCKET"
      local_dir: "$DIST_DIR_S3"
      upload-dir: "$S3_KEY"
      skip_cleanup: true
      on:
        all_branches: true
    - provider: releases
      api_key:
        secure: tJsVlhVaYjlA7frFEFIGN+DjUxSo1y8MIq6DX/NmIq8rB5r+b6eIfosDi58ON3cwqfLRk1Mw3uVqozGlWhw73NErUeGzkvof3IL3/sSe258o5Jq6RDdZXuhUddFhTnoJvQvBYcyxinl729QmQCzaPObVy254bmpXrJvbLuAU6ns/6dvF3RBDMiVzDSy2+IYDmTFwGdUo1/FyW23nmFMEs26aLivZy/UnLZ5D7qOevvRRPUxHKZFsMPXxI5RI11XQkA7dCeLKQawuBsiwg+eyvzlS1ZYw+js53fCv758jPYcFpg/2/b6jfMql0tPSIYxO4mnyW5FOpMhmqT5XWmgLF4NelF81av2g6Rif2I+O8UB7wHnv0gEDIbhTzp7RK7fcjxjGfME89EKfjVohuD2FMfNukjgWIg0TUfQ4zsPYbcbT3yIppDi8CkcGmd3VuTC8qUac7FLdd6ZO7+9yohWfiCqHwzzzyh94In5QXH0rNSPV0eOkpvlSGY+S8T2qwcMaapGBWCmsGHZfjxrpJTskNTmm7eRkxNp6aCBw1S0nDY1/JMhGixu0Gk0yomn7d7QkTdxksfSRkTnhiLyKVfeYwu4ybi1DAUXG+sHvLofKUv6ZKP10t3REr0GIjnv/xv0B80op5yv/YP8QZYR7UC5EJdY303sWi4Am1s5DwM940hs=
      file: "$DIST_DIR_GITHUB/$GITHUB_RELEASE_FILENAME"
      skip_cleanup: true
      name: "$TRAVIS_TAG"
      on:
        tags: true
        condition: "$TRAVIS_TAG != *beta*"
    - provider: releases
      api_key:
        secure: tJsVlhVaYjlA7frFEFIGN+DjUxSo1y8MIq6DX/NmIq8rB5r+b6eIfosDi58ON3cwqfLRk1Mw3uVqozGlWhw73NErUeGzkvof3IL3/sSe258o5Jq6RDdZXuhUddFhTnoJvQvBYcyxinl729QmQCzaPObVy254bmpXrJvbLuAU6ns/6dvF3RBDMiVzDSy2+IYDmTFwGdUo1/FyW23nmFMEs26aLivZy/UnLZ5D7qOevvRRPUxHKZFsMPXxI5RI11XQkA7dCeLKQawuBsiwg+eyvzlS1ZYw+js53fCv758jPYcFpg/2/b6jfMql0tPSIYxO4mnyW5FOpMhmqT5XWmgLF4NelF81av2g6Rif2I+O8UB7wHnv0gEDIbhTzp7RK7fcjxjGfME89EKfjVohuD2FMfNukjgWIg0TUfQ4zsPYbcbT3yIppDi8CkcGmd3VuTC8qUac7FLdd6ZO7+9yohWfiCqHwzzzyh94In5QXH0rNSPV0eOkpvlSGY+S8T2qwcMaapGBWCmsGHZfjxrpJTskNTmm7eRkxNp6aCBw1S0nDY1/JMhGixu0Gk0yomn7d7QkTdxksfSRkTnhiLyKVfeYwu4ybi1DAUXG+sHvLofKUv6ZKP10t3REr0GIjnv/xv0B80op5yv/YP8QZYR7UC5EJdY303sWi4Am1s5DwM940hs=
      file: "$DIST_DIR_GITHUB/$GITHUB_RELEASE_FILENAME"
      skip_cleanup: true
      name: "$TRAVIS_TAG"
      prerelease: true
      on:
        tags: true
        condition: $TRAVIS_TAG =~ "beta"
    - provider: script
      script: "./deploy-wordpress.sh"
      skip_cleanup: true
      on:
        tags: true
        condition: "$TRAVIS_TAG != *beta*"
notifications:
  slack:
    rooms:
    - secure: bmoIugz9sorNakDw7LnfC3iB7a4CnhuZeZBAVxefSoqipbZAGLoA86pSaDwSK3kNsCRAUXyHJ0pBxxJuCO5jrQKhl9TNBFQQ60KPvn3LQj9OXXTSHp4qoqBytipQGyjeqySu4fJt8Lc0u8FQ0qinxn21qF7K7c54aygVKQd+nxf/+9rVzSOJIY+c6UEBb9FwKfHl9cOJy8nTHYPNl0ZbQaYVS1gvyOV2jzrlurOXb0t2xYs2W9EOAjUd2E4ZVaD8EEyRZ9zcvy8ne41qZGBLMJjHZo6TdN4x0AdEYiITst5fKj+YILNCaVQMyURu5h65RPVXyjZ/eIOUixSt1EOpMTxWcRiDn3H7B2F7eEUIXyo/c5x1AEWEQFLGK+/PEqWx/zaBG0rJJdzVbLaqet2kg5piy+f84EBCZiXm7CZIYPMSjLJo9AJDcY9iSRgvpRnkSagHZAgMILNut53aNPd8i3FoOeycPwux/KDQpSz0uIpn4xu26VY0bzxJ8N27VugUhmNhLCN05Hgw8GoDjEoh4EgPPsdNVzXT4mzpjx2GfhRZOm/78LUSDB/w3oIAEPzRFfhberBAo0l2w9T5+Ynbw9yyquYgNUOW/nMhbwqOPbWqndHa8Xume0DXp2COHEqoSZx4gDIIRRKjKdsrFjjasWB5K7IQXQfBoiGAL7EscNA=
    on_success: change
  email: false
