<div id="bmlt-table-div">
        {{#each this}}
            <div class="meeting-group" {{{getWord 'css-textAlign'}}}>
                <div class="group-header">{{this.day}}</div>
                <div class="group-table-div">
                    <table class='bmlt-table table table-striped table-hover table-bordered tablesaw tablesaw-stack {{getWord 'css-direction'}}'>
                        <tbody class="h-{{this.day}}">
                            {{> meetings this.meetings}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/each}}
</div>
