<div id="bmlt-table-div">
    <table class='bmlt-table table table-striped table-hover table-bordered tablesaw tablesaw-stack'>
        {{#each this}}
            <tbody id="tab{{this.sequence}}" class="bmlt-data-rows h-{{this.day}}">
			{{#unless this.hide}}
				{{#greaterThan this.meetings.length 0}}
					<tr class="meeting-header">
						<td colspan="3">{{this.day}}</td>
					</tr>
				{{/greaterThan}}
			{{/unless}}

            {{> meetings this.meetings }}
            </tbody>
        {{/each}}
    </table>
</div>
