<div id="bmlt-table-div">
    <table class='bmlt-table table table-striped table-hover table-bordered tablesaw tablesaw-stack'>
        {{#each this}}
            <tbody class="bmlt-data-rows h-{{this.day}}">
            <tr class="meeting-header">
                <td colspan="3">{{this.day}}</td>
            </tr>
            {{> meetings }}
            </tbody>
        {{/each}}
    </table>
</div>