<div id="bmlt-table-div">
	<table class='bmlt-table table table-striped table-hover table-bordered tablesaw tablesaw-stack {{getWord 'css-direction'}}'>
		<tbody class="byfield.hbs">
		{{#each this}}
			<tr class="meeting-header" {{{getWord 'css-textAlign'}}}>
				<td colspan="3">{{@key}}</td>
			</tr>
			{{> meetings }}
		{{/each}}
		</tbody>
	</table>
</div>
