<div id="bmlt-table-div">
        {{#each this}}
            <div class="meeting-group {{this.accordionState}}" {{{getWord 'css-textAlign'}}}>
                <div class="group-header">{{@key}}</div>
                <div class="group-table-div">
					<table class='bmlt-table table table-hover table-bordered tablesaw tablesaw-stack {{getWord 'css-direction'}}'>
                    	<tbody class="byfield.hbs">
                        	{{> meetings this.group}}
                    	</tbody>
                	</table>
				</div>
            </div>
        {{/each}}
    </table>
</div>