<div id="bmlt-table-div">
    <table class='bmlt-table table table-striped table-hover table-bordered tablesaw tablesaw-stack'>
        <tbody>
        {{#each this}}
            <tr class="meeting-header">
                <td colspan="3">{{city}}</td>
            </tr>
            {{> meetings }}
        {{/each}}
        </tbody>
    </table>
</div>