            <div class="bootstrap-bmlt">
                <button data-latitude="{{this.latitude}}" data-longitude="{{this.longitude}}" class="btn btn-primary bmlt-xs get-directions-modal">
                    <span class="glyphicon glyphicon-road"></span> {{getWord "get_directions"}}
                </button>
            </div>
