<table class='bmlt_a_format table-bordered {{getWord 'css-direction'}}'>
    {{#each this.formats_expanded}}
        <tr>
            <td class='formats_key'>{{key}}</td>
            <td class='formats_name'>{{name}}</td>
            <td class='formats_description'>{{description}}</td>
        </tr>
    {{/each}}
</table>