<div class="card group">
    <div class="card-body">
        <div class="card-title header-elements" style="display: flex; justify-content:space-between; align-items:center;">
            {{> groupTitle}}
        </div>
        <div class="row" {{{getWord 'css-textAlign'}}}>
                <div class="col-md-4">
                    {{{crouton_map}}}
                </div>
                <div class="col-md-7 box-shadow" style="margin-inline-start:10px;">
                    <div class="card-body">
                        {{> groupDetailsContents}}
                    </div>
                </div>
        </div>
        <div class="row card-meeting-row" {{{getWord 'css-textAlign'}}}>
            {{#each this.membersOfGroup}}
            	<div class="col-md-3 mb-2 box-shadow">
                    <div class="card-body">
                        {{> memberDetails}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>