	<div id="group_modal" class="modal bootstrap-bml {{getWord 'css-direction'}}" style="display: none;" tabindex="-1" >
	<div class="modal-content" style="width:80%;">
        <span class="modal-title">{{getWord "Group Details"}}</span><span id="close_meeting_details" class="modal-close" style="position: absolute;right: 5px;top:10px;">x</span>
		{{> group this}}
	</div></div>`