<div id="bmlt-map" class="bmlt-map hide"></div>
<div id="bmlt-tabs-table">
    <div id="bmlt-header" class="bmlt-header hide">
        {{> header}}
    </div>
	{{#each this.meetings.buttonFilters}}
		<div id="byfield_{{ this.field }}" class="bmlt-page hide">
			{{> byfields this.data }}
		</div>
	{{/each}}
    <div id="byday" class="bmlt-page hide">
        {{> bydays this.meetings.bydays}}
    </div>
    <div id="tabs-content" class="bmlt-page">
        {{> weekdays this.meetings.weekdays}}
    </div>
</div>
