
            <h4>
		    	{{> meetingpageTitleTemplate this}}
            </h4>
        	<div class="meeting-details-contents" style="vertical-align:top;">
           		{{> meetingDetailsContentsTemplate this}}
            </div>